---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.blockchain.com/v3/exchange/tickers
    method: GET
  response:
    body: '[{"symbol":"TFUEL-USDC","price_24h":0.16656,"volume_24h":0.0,"last_trade_price":0.16656},{"symbol":"XLM-EUR","price_24h":0.17213,"volume_24h":22055.3136344,"last_trade_price":0.17427},{"symbol":"ALGO-BTC","price_24h":1.732E-5,"volume_24h":194.194804,"last_trade_price":1.735E-5},{"symbol":"EFI-USDT","price_24h":0.549,"volume_24h":0.0,"last_trade_price":0.549},{"symbol":"XTZ-USDT","price_24h":2.86,"volume_24h":0.0,"last_trade_price":2.86},{"symbol":"XLM-BTC","price_24h":0.0,"volume_24h":0.0,"last_trade_price":5.51E-6},{"symbol":"USDC-GBP","price_24h":0.7953,"volume_24h":1102.[...]
